<a href="https://colab.research.google.com/github/NICOLAS491409/PROGCOM-A/blob/main/Trabajo_Programaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PUNTO NUMERO 1

In [18]:
cuadrado = lambda x: x*x
cuadrado(7)

49

In [19]:
def cuadrado(x):
    return x*x

cuadrado(9)

81

PUNTO NUMERO 2

In [5]:
import random
saludos = [
"¡Hola {0}! ¿Cómo estás?",
"¡Qué tal, {0}! Un gusto saludarte.",
"¡Hey {0}! ¿Qué cuentas?",
"Saludos {0}, que tengas un buen día.",
"¡Buenos días {0}!",
"¡Buenas tardes {0}!",
"¡Hola {0}! Bienvenido.",
"¡Encantado de verte, {0}!",
"¡Hola {0}! Espero que estés bien.",
"¿Qué onda {0}?",
"¡Hola {0}! ¿Listo para aprender?",
"¡Ey {0}! ¿Cómo va todo?",
"¡Hola {0}! Un abrazo virtual.",
"¡Buenas {0}! Que vaya muy bien.",
"¡Hola {0}! Que tengas energía hoy.",
"¡Hola {0}! ¿Qué planes?",
"¡Bienvenido {0}!",
"¡Hola {0}! Mucha suerte hoy.",
"¡Hola {0}! Mantén la actitud.",
"¡Hola {0}! Disfruta tu día."
]

saludo = lambda nombre: random.choice(saludos).format(nombre)

saludo("Tello")

'¡Ey Tello! ¿Cómo va todo?'

In [17]:
def saludo(nombre):
    return random.choice(saludos).format(nombre)
saludo("jaime")

'¡Encantado de verte, jaime!'

PUNTO NUMERO 3

In [14]:
operaciones = lambda a,b: (a+b, a-b, a*b, a/b if b!=0 else None)
operaciones(12,4)

(16, 8, 48, 3.0)

In [12]:
def operaciones(a, b):
    if b != 0:
        return (a + b, a - b, a * b, a / b)
    else:
        return (a + b, a - b, a * b, "No se puede dividir")

operaciones(9, 0)

(9, 9, 0, 'No se puede dividir')

PUNTO NUMERO 4

In [9]:
esmayor = lambda edad: "Mayor de edad" if edad >= 18 else "Menor de edad"
esmayor(23)

'Mayor de edad'

In [11]:
def esmayor(edad):
    if edad >= 18:
        return "Mayor de edad"
    else:
        return "Menor de edad"
esmayor(14)

'Menor de edad'

PUNTO NUMERO 5

In [21]:
#5
#Reciba una palabra y determine si es un palíndromo (se lee igual al derecho y al revés)
# Con lambda
es_palindromo = lambda palabra: palabra.lower() == palabra.lower()[::-1]
es_palindromo("Aidia")

True

In [22]:
def es_palindromo(palabra):
    palabra = palabra.lower()
    if palabra == palabra[::-1]:
        return True
    else:
        return False
es_palindromo("Luna")

False

PUNTO NUMERO 6

In [31]:
contar_vocales = lambda texto: sum(1 for letra in texto.lower() if letra in "aeiou")
contar_vocales("Buenos Días")

4

In [33]:
def contar_vocales(texto):
    contador = 0
    for letra in texto.lower():
        if letra in "aeiou":
            contador += 1
    return contador
contar_vocales("Subtítulo")

3

PUNTO NUMERO 7

In [35]:
suma_lista = lambda lista: sum(lista)
suma_lista([4, 5, 6])

15

In [36]:
def suma_lista(lista):
    total = 0
    for numero in lista:
        total += numero
    return total
suma_lista([7, 9, 11])

27

PUNTO NUMERO 8

In [39]:
mayor_menor = lambda lista: (max(lista), min(lista))
mayor_menor([5, 8, 2, 7])

(8, 2)

In [40]:
def mayor_menor(lista):
    mayor = lista[0]
    menor = lista[0]
    for numero in lista:
        if numero > mayor:
            mayor = numero
        if numero < menor:
            menor = numero
    return (mayor, menor)
mayor_menor([18, 11, 9, 10])

(18, 9)

PUNTO NUMERO 9

In [42]:
reverso = lambda lista: lista[::-1]
reverso([9, 8, 7])

[7, 8, 9]

In [44]:
def reverso(lista):
    nueva = []
    for i in range(len(lista)-1, -1, -1):
        nueva.append(lista[i])
    return nueva
reverso(["19", "20", "21"])

['21', '20', '19']

PUNTO NUMERO 10

In [47]:
nombres_vocal = lambda lista: sum(1 for n in lista if n[0].lower() in "aeiou")
nombres_vocal(["Juan", "Valentina", "Lucia", "Pedro"])

0

In [49]:
def nombres_vocal(lista):
    contador = 0
    for nombre in lista:
        if nombre[0].lower() in "aeiou":
            contador += 1
    return contador
nombres_vocal(["Eliazar", "Leo", "Potro"])

1

PUNTO NUMERO 11

In [51]:
sin_repetidos = lambda lista: list(dict.fromkeys(lista))
sin_repetidos([1,5,5,7,1])

[1, 5, 7]

In [52]:
def sin_repetidos(lista):
    nueva = []
    for elemento in lista:
        if elemento not in nueva:
            nueva.append(elemento)
    return nueva
sin_repetidos(["8","8","5","9"])

['8', '5', '9']

PUNTO NUMERO 12

In [54]:
es_primo = lambda n: n>1 and all(n%i!=0 for i in range(2,int(n**0.5)+1))
primos = lambda lista: [x for x in lista if es_primo(x)]
primos([9,7,3,4,5,13,17])

[7, 3, 5, 13, 17]

In [55]:
def es_primo(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

def primos(lista):
    resultado = []
    for num in lista:
        if es_primo(num):
            resultado.append(num)
    return resultado
primos([15,20,25,30,35])

[]

PUNTO NUMERO 13

In [56]:
mensaje = lambda p: f"El nombre es {p['nombre']} y tiene {p['edad']} años"
mensaje({"nombre":"Tello","edad":16})

'El nombre es Tello y tiene 16 años'

In [57]:
def mensaje(p):
    return f"El nombre es {p['nombre']} y tiene {p['edad']} años"
mensaje({"nombre":"Juanes","edad":24})

'El nombre es Juanes y tiene 24 años'

PUNTO NUMERO 14

In [59]:
total = lambda productos: sum(productos.values())
total({"Tomates":5000,"Aceite":10000,"Carne":28000})

43000

In [60]:
def total(productos):
    suma = 0
    for precio in productos.values():
        suma += precio
    return suma
total({"Limpido":6000,"Jabon en polvo":12000,"Desmanchador":8200})

26200

PUNTO NUMERO 15

In [61]:
promedio = lambda notas: sum(notas.values())/len(notas)
promedio({"Cuadrado":3.0,"Luisa":3.7,"Caroline":4.0})

3.5666666666666664

In [62]:
def promedio(notas):
    suma = 0
    for n in notas.values():
        suma += n
    return suma / len(notas)
promedio({"Pavi":3.5,"Sara":1.5,"Camilo":5.0})

3.3333333333333335

PUNTO NUMERO 16

In [65]:
buscar = lambda notas,nombre: notas.get(nombre,"no encontrado")
buscar({"Andres":4.0,"Luciano":3.5},"Luciano")

3.5

In [66]:
def buscar(notas,nombre):
    if nombre in notas:
        return notas[nombre]
    else:
        return "no encontrado"
buscar({"Juanda":5.0,"Rata":2.5},"Juanda")

5.0

PUNTO NUMERO 17

In [68]:
mejor = lambda notas: max(notas, key=notas.get)
mejor({"AnDREA":3.0,"LuiAs":3.7,"karol":4.5})

'karol'

In [69]:
def mejor(notas):
    mayor = None
    nota_mayor = -1
    for nombre, nota in notas.items():
        if nota > nota_mayor:
            nota_mayor = nota
            mayor = nombre
    return mayor
mejor({"Pedrihño":4.9,"julian":3.8,"fredy":2.2})

'Pedrihño'

PUNTO NUMERO 18

In [72]:
filtrar = lambda productos,limite: {k:v for k,v in productos.items() if v>limite}
filtrar({"lecherita":3000,"Pai":4000,"Limones":15000},4000)

{'Limones': 15000}

In [73]:
def filtrar(productos, limite):
    resultado = {}
    for nombre, precio in productos.items():
        if precio > limite:
            resultado[nombre] = precio
    return resultado
filtrar({"Croasan":9000,"Huevos":6000,"cebolla":3500},2000)

{'Croasan': 9000, 'Huevos': 6000, 'cebolla': 3500}

PUNTO NUMERO 19

In [76]:
horas = lambda empleados: {k:sum(v) for k,v in empleados.items()}
horas({"Ana":[7,8,9],"Luis":[9,9,3]})

{'Ana': 24, 'Luis': 21}

In [77]:
def horas(empleados):
    resultado = {}
    for nombre, lista in empleados.items():
        total = 0
        for h in lista:
            total += h
        resultado[nombre] = total
    return resultado
horas({"Pedro":[8,6,3],"Sofia":[8,5,6]})

{'Pedro': 17, 'Sofia': 19}

PUNTO NUMERO 20

In [81]:
promedio_mayores = lambda est: sum([v['nota'] for v in est.values() if v['edad']>=18]) / len([v for v in est.values() if v['edad']>=18])
promedio_mayores({"juan":{"nota":3.5,"edad":17},"Luisa":{"nota":4.8,"edad":16},"Caro":{"nota":4.0,"edad":20}})

4.0

In [82]:
def promedio_mayores(estudiantes):
    notas = []
    for datos in estudiantes.values():
        if datos["edad"] >= 18:
            notas.append(datos["nota"])
    if len(notas) == 0:
        return 0
    return sum(notas) / len(notas)
promedio_mayores({"Juanda":{"nota":2.5,"edad":18},"Sofhia":{"nota":3.2,"edad":16},"Camille":{"nota":3.8,"edad":20}})

3.15